<section class="main-header">
    <img src="<%= asset_path "toppage.jpg" %>">
</section>
<div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>
<section class="about">
  <h1>About Twitter</h1>
  <p>
     Twitterは、つぶやきを通じて繋がるSNSアプリです。<br>
     普段の気持ちをつぶやいたり、フォロワーとのメッセージで多くの人と繋がりましょう。
  </p>
</section>
 <section class="function container-fluid">
    <div class="row">
    <h2>Function</h2>
      <div class="function-images">
        <div class="col-md-3 col-sm-6">
          <div class="function-image">
            <img src="<%= asset_path "key.png" %>">
            <p>ログイン機能</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="function-image">
            <img src="<%= asset_path "mails.png" %>">
            <p>メッセージ送信機能</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="function-image">
            <img src="<%= asset_path "girls.png" %>">
            <p>友達フォロー機能</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="function-image">
            <img src="<%= asset_path "comment.png" %>">
            <p>つぶやき投稿機能</p>
          </div>
        </div>
      </div>
    </div>
  </section>
